.Toastify__toast-theme--colored.Toastify__toast--default {
    background-color: #FFF !important;
    color: #333 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--info {
    background-color: #3498db !important;
    color: #FFF !important;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
    background-color: #2ecc71 !important;
    color: #FFF !important;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
    background-color: #f1c40f !important;
    color: #FFF !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
    background-color: #e74c3c !important;
    color: #FFF !important;
}